<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <h1>Home</h1>
  <p>Mi Nombre es Randy Alexander Mejía Moscoso, Soy estudiante del instituto tecnologico ITLA actualmente cursando la materia Programación Web!.</p>
  <nav>
    <ul>
      <li><a href="/valores">Valores</a></li>
      <li><a href="/skills">Skills</a></li>
      <li><a href="/proyectos">Proyectos</a></li>
      <li><a href="/contacto">Contacto</a></li>
    </ul>
  </nav>
</body>
</html>
