<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <h1>Proyectos</h1>
  <div>
    <h2>Generador de CV</h2>
    <p>Un Generador de Curriculums que puede generar una plantilla básica a través del manejo del DOM utilizando JavaScript.</p>
  </div>
  <div>
    <h2>Aplicación básica con NodeJS</h2>
    <p>Una aplicación básica con NodeJS que habla sobre mi, desarrollada con Express y Nodemon.</p>
  </div>
  <a href="/">Volver al Home</a>
</body>
</html>
